<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="50%" fxFlex.xs="100%">
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>Way to go!</h1>
                <h2>You've successfully applied for <em>{{jobSummary.position}}</em></h2>
            </div>
            <div fxLayoutAlign="center">
                <img fxFlex="50%" src="../../../assets/images/good-luck.gif" />
            </div>
        </mat-card-content>
    </mat-card>
</section>