<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="850px" fxFlex.xs="100%">
        <h1>My Job Postings</h1>
        <p *ngIf="jobs?.length === 0">Looks like you haven't posted any jobs yet - post one now!</p>
        <div fxLayout="row" fxLayoutAlign="center">
            <a mat-raised-button (click)="createJob()" [disabled]="busy">
                <mat-icon>post_add</mat-icon>
                Post a new job
            </a>
        </div>

        <mat-nav-list>
            <a mat-list-item *ngFor="let job of jobs" [routerLink]="['/employer', 'job', job.id, 'manage', 'basics']">
                {{ job.position + ' [' + job.status +' ~' + job.modified +']' }}
            </a>
        </mat-nav-list>
        <div class="spinner-container" *ngIf="busy">
            <mat-spinner color="accent" [diameter]="40"></mat-spinner>
        </div>
    </mat-card>
</section>