@model LoginViewModel

<div class="row">

        <div class="col-sm-6">
            <div>
                <h2>Local Login</h2>

                <form asp-route="Login" class="form-signin mt-4">
                    <input type="hidden" asp-for="ReturnUrl" />

                    @if (Model.NewAccount)
                    {
                        <div class="alert alert-success" role="alert">
                            Account created successfully!
                        </div>
                    }

                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>
                        @if (Model.AllowRememberLogin)
                        {
                            <div class="form-group checkbox">
                                <label asp-for="RememberLogin">
                                    <input asp-for="RememberLogin">
                                    <strong>Remember My Login</strong>
                                </label>
                            </div>
                        }
                        <div class="form-group">
                            <button class="btn btn-primary" name="button" value="login">Login</button>
                            <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                        </div>
                    </fieldset>
                    <partial name="_ValidationSummary" />
                </form>
            </div>
        </div>
  
</div>
