<div class="row">

    <div class="col-sm-6">
        <div>
            <h2>Hello</h2>
            <p>Please @Html.ActionLink("login here", "Login", "Accounts") to continue.</p>
        </div>
    </div>
</div>